.hero-section{
    background: url(../../imagens/banners/hero.jpg) no-repeat center;

    height: 500px;
    position: relative;
    background-size: cover;
    border-radius: 20px;
}

.hero-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 6rem;
}

.hero-content{
    color: #fff;
    max-width: 354px;
    text-align: center;
}

.hero-buttons{
    display: flex;
    gap: 16px;
}

.hero-content .hero-title{
    font-size: 1.25rem;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 3px;
}

.hero-content .hero-subtitle{
    font-size: 1.25rem;
    font-weight: 300;
}

.btn-outline{
    background-color: transparent;
    border: 2px solid #fff;
    line-height: 23px;
}

.btn-filled{
    background-color: #fff;
    color: #7c3aed;
}

.btn:hover{
    background-color: #7c3aed;
    color: #fff;
    border: #7c3aed;
}

@media (max-width: 768px){
    .hero-section{
        height: 660px;
    }

    .hero-overlay{
        padding: 0;
    }

    .hero-content .hero-title{
        font-size: 1.5rem;
    }

    .hero-content .hero-subtitle{
        font-size: 1.5rem;
    }

    .hero-content{
        max-width: 330px;
        margin: 0 auto;
    }

    .btn{
        font-size: 1.2rem;
    }
}